

.disease-status-list {
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $white-main;
    }
    &::-webkit-scrollbar-thumb {
        background: #e5e4e4; 
        border-radius: 8px;
    }
    & .disease-status-item {
        &.position-fixed {
            @include css3-prefix(box-shadow, 0 3px 3px rgba(0, 0, 0, 0.06));
        }
        & .order {
            width: 30px;
            height: 24px;
        }
    }
}