

.search-form {
    & .input-wrapper {
        position: relative;
        & > input {
            width: 100%;
            outline: 0;
            border-radius: 12px;
            border: none;
            $box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06), -3px 3px 3px rgba(0, 0, 0, 0.06);
            @include css3-prefix(box-shadow, $box-shadow);
            @include input-placeholder {
                color: $grey-dark;
                font-size: 18px;
            }
        }
        & .icon-wrapper {
            position: absolute;
            top: 50%;
            left: 16px;
            @include css3-prefix(transform, translateY(-50%));
        }
    }
}