
.txt-primary-color {
    color: $txt-primary-color;
}

.txt-secondary-color {
    color: $txt-secondary-color;
}

.txt-pink-dark-color {
    color: $pink-dark;
}

.txt-grey-dark-color {
    color: $grey-dark;
}

.txt-greyblue-main-color {
    color: $greyblue-main
}

.bg-grey-main {
    background: $grey-main;
}

.bg-white-main {
    background: $white-main;
}

.height-100-percent {
    height: 100%;
}

.font-weight-700 {
    font-weight: 700;
}

.line-height-0 {
    line-height: 0;
}

.txt-align-center {
    text-align: center;
}

@each $value in $overflowValues {
    .overflow-#{$value} {
        overflow: $value;
    }
    .overflow-x-#{$value} {
        overflow-x: $value;
    }
    .overflow-y-#{$value} {
        overflow-y: $value;
    }
}

@for $i from 8 through 64 {
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
}

@for $i from 0 through 32 {
    .m-#{$i} {
        margin: #{$i}px;
    }
    .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
    .p-#{$i} {
        padding: #{$i}px;
    }
    .px-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
}

@for $i from 0 through 10 {
    .opacity-#{$i} {
        opacity: $i * 0.1;
    }
}

@each $value in $displayValues {
    .d-#{$value} {
        display: $value;
    }
}

@each $value in $flexBoxValues {
    .justify-#{$value} {
        justify-content: $value;
    }
    .align-#{$value} {
        align-items: $value;
    }
}

@each $value in $flexDirections {
    .direction-#{$value} {
        flex-direction: $value;
    }
}

@each $value in $txtTransformValues {
    .txt-transform-#{$value} {
        text-transform: $value;
    }
}

.container-fluid {
    max-width: 840px;
    margin: auto;
}

.container {
    padding-left: spacing(2);
    padding-right: spacing(2);
    @include screen-md {
        padding-left: spacing(3);
        padding-right: spacing(3);
    }
}