

@for $i from 0 through 32 {
    .m-#{$i} {
        margin: #{$i}px;
    }
    .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
    .p-#{$i} {
        padding: #{$i}px;
    }
    .px-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .py-#{$i} {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
}

@each $value in $displayValues {
    .d-#{$value} {
        display: $value;
    }
}

@each $value in $flexBoxValues {
    .justify-#{$value} {
        justify-content: $value;
    }
    .align-#{$value} {
        align-items: $value;
    }
}

@each $value in $flexDirections {
    .direction-#{$value} {
        flex-direction: $value;
    }
}

.container-fluid {
    max-width: 960px;
    margin: auto;
}

.container {
    padding-left: spacing(2);
    padding-right: spacing(2);
    @include screen-md {
        padding-left: spacing(3);
        padding-right: spacing(3);
    }
}