$grey-main: #f3f3f3;
$grey-dark: #b1b1b1;
$pink-dark: #ff5c7b;
$white-main: #ffffff;
$txt-primary-color: #525257;
$txt-secondary-color: #bfc9d0;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;